# Caminho completo para a planilha-mãe de parcelamentos
CAMINHO_PLANILHA=""

# Pasta Base
PASTA_BASE =""

# Pasta onde os arquivos baixados serão salvos
PASTA_DOWNLOADS=""

# Chave de API do serviço de resolução de captcha
# Obtenha em: https://2captcha.com
TWOCAPTCHA_API_KEY=""
